In [ ]:
# pip install pyspark

Different pandas and Pyspark
<br> Pandas Run in one machine
<br> Pyspark Run in multiple machine

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Pyspark').getOrCreate()

In [ ]:
spark

In [ ]:
df = spark.read.csv('/content/drive/MyDrive/Latihan.csv',header=True,inferSchema=True)
# header make a first row to be a header
# inferSchema will automatically guess the data types for each field

## 1. Display top 3 Rows of the dataset

In [ ]:
df.show(3)

+------+-----+------+
|  Nama|Score|Gender|
+------+-----+------+
|Luthfi|   90|  Male|
| Adnan|   85|  Male|
|Rahman|   65|Female|
+------+-----+------+
only showing top 3 rows

## 2. Display datatype of each column

In [ ]:
df.printSchema()

root
 |-- Nama: string (nullable = true)
 |-- Score: integer (nullable = true)
 |-- Gender: string (nullable = true)

## 3. Display Column Names

In [ ]:
df.columns

['Nama', 'Score', 'Gender']

## 4. Count Number of Rows and Columns of The dataset

In [ ]:
df.count()
# This function use to count the rows from dataset

11

In [ ]:
len(df.columns)

3

## 5.Get Overall Statistics About The Dataset

In [ ]:
df.describe().show()

+-------+------+------------------+------+
|summary|  Nama|             Score|Gender|
+-------+------+------------------+------+
|  count|    11|                 9|    11|
|   mean|  null| 89.33333333333333|  null|
| stddev|  null|10.074720839804941|  null|
|    min|Abiyyu|                65|Female|
|    max|   Tyo|                98|  Male|
+-------+------+------------------+------+

## 6.Find Unique Values Available in the Gender column

In [ ]:
df.columns

['Nama', 'Score', 'Gender']

In [ ]:
df.toPandas()['Gender'].unique()
# toPandas to convert spark to pandas

array(['Male', 'Female'], dtype=object)

## 7.Find the Total Number of Unique Values Available in the Gender column

In [ ]:
len(df.toPandas()['Gender'].unique())

2

## 8.How Select Single Column?

In [ ]:
df.show()

+-------+-----+------+
|   Nama|Score|Gender|
+-------+-----+------+
| Luthfi|   90|  Male|
|  Adnan|   85|  Male|
| Rahman|   65|Female|
|    Tyo|   98|Female|
|Raditya| null|Female|
| Naufal|   88|  Male|
| Abiyyu| null|Female|
|   Rafi|   96|  Male|
|  Fikri|   97|  Male|
| Rafsan|   93|Female|
|   Jani|   92|Female|
+-------+-----+------+

In [ ]:
df.select('Nama').show()
#Dont forget to use .show()

+-------+
|   Nama|
+-------+
| Luthfi|
|  Adnan|
| Rahman|
|    Tyo|
|Raditya|
| Naufal|
| Abiyyu|
|   Rafi|
|  Fikri|
| Rafsan|
|   Jani|
+-------+

## 9.How Select Multiple Columns?

In [ ]:
df.select(['Nama','Gender']).show()

+-------+------+
|   Nama|Gender|
+-------+------+
| Luthfi|  Male|
|  Adnan|  Male|
| Rahman|Female|
|    Tyo|Female|
|Raditya|Female|
| Naufal|  Male|
| Abiyyu|Female|
|   Rafi|  Male|
|  Fikri|  Male|
| Rafsan|Female|
|   Jani|Female|
+-------+------+

## 10. Create New Column With Marks + 1 And Also Update Existing DataFrame

In [ ]:
df = df.withColumn('New_Score',df.Score+1)

In [ ]:
df.show()

+-------+-----+------+---------+
|   Nama|Score|Gender|New_Score|
+-------+-----+------+---------+
| Luthfi|   90|  Male|       91|
|  Adnan|   85|  Male|       86|
| Rahman|   65|Female|       66|
|    Tyo|   98|Female|       99|
|Raditya| null|Female|     null|
| Naufal|   88|  Male|       89|
| Abiyyu| null|Female|     null|
|   Rafi|   96|  Male|       97|
|  Fikri|   97|  Male|       98|
| Rafsan|   93|Female|       94|
|   Jani|   92|Female|       93|
+-------+-----+------+---------+

## 11. Rename Name Column And Give New Name "Student_Name

In [ ]:
df.columns

['Nama', 'Score', 'Gender', 'New_Score']

In [ ]:
df = df.withColumnRenamed('Nama','Student_Name')

In [ ]:
df.show()

+------------+-----+------+---------+
|Student_Name|Score|Gender|New_Score|
+------------+-----+------+---------+
|      Luthfi|   90|  Male|       91|
|       Adnan|   85|  Male|       86|
|      Rahman|   65|Female|       66|
|         Tyo|   98|Female|       99|
|     Raditya| null|Female|     null|
|      Naufal|   88|  Male|       89|
|      Abiyyu| null|Female|     null|
|        Rafi|   96|  Male|       97|
|       Fikri|   97|  Male|       98|
|      Rafsan|   93|Female|       94|
|        Jani|   92|Female|       93|
+------------+-----+------+---------+

## 12. Display Name of The Students Having Marks Greater Than 90

In [ ]:
df.filter(df['Score']>90).select('Student_Name').show()

+------------+
|Student_Name|
+------------+
|         Tyo|
|        Rafi|
|       Fikri|
|      Rafsan|
|        Jani|
+------------+

## 13.Display Name & Gender of The Students Having Marks Greater than 90

In [ ]:
df.filter(df['Score']>90).select(['Student_Name','Gender']).show()

+------------+------+
|Student_Name|Gender|
+------------+------+
|         Tyo|Female|
|        Rafi|  Male|
|       Fikri|  Male|
|      Rafsan|Female|
|        Jani|Female|
+------------+------+

## 14.Display Name of The Female Students Having Marks Greater Than 90

In [ ]:
#Multiple Condition
df.filter((df['Score']>90) & (df['Gender']=='Female')).select('Student_Name').show()

+------------+
|Student_Name|
+------------+
|         Tyo|
|      Rafsan|
|        Jani|
+------------+

## 15.Display Name of The Male Students Having Marks Greater Than 90

In [ ]:
df.filter((df['Score']>90) & ~(df['Gender']=='Female')).select('Student_Name').show()
# "~" meaning is oterwise condition

+------------+
|Student_Name|
+------------+
|        Rafi|
|       Fikri|
+------------+

## 16. Display Average Marks of Male & Female Students

In [ ]:
df.groupby('Gender').mean().select(['Gender','avg(New_Score)']).show()

+------+--------------+
|Gender|avg(New_Score)|
+------+--------------+
|Female|          88.0|
|  Male|          92.2|
+------+--------------+

## 17. Sort every row of the dataset into descending order

In [ ]:
df.orderBy(df['Score'].desc()).show()

+------------+-----+------+---------+
|Student_Name|Score|Gender|New_Score|
+------------+-----+------+---------+
|         Tyo|   98|Female|       99|
|       Fikri|   97|  Male|       98|
|        Rafi|   96|  Male|       97|
|      Rafsan|   93|Female|       94|
|        Jani|   92|Female|       93|
|      Luthfi|   90|  Male|       91|
|      Naufal|   88|  Male|       89|
|       Adnan|   85|  Male|       86|
|      Rahman|   65|Female|       66|
|     Raditya| null|Female|     null|
|      Abiyyu| null|Female|     null|
+------------+-----+------+---------+

## 18. Handling missing Values

In [ ]:
df.show()

+------------+-----+------+---------+
|Student_Name|Score|Gender|New_Score|
+------------+-----+------+---------+
|      Luthfi|   90|  Male|       91|
|       Adnan|   85|  Male|       86|
|      Rahman|   65|Female|       66|
|         Tyo|   98|Female|       99|
|     Raditya| null|Female|     null|
|      Naufal|   88|  Male|       89|
|      Abiyyu| null|Female|     null|
|        Rafi|   96|  Male|       97|
|       Fikri|   97|  Male|       98|
|      Rafsan|   93|Female|       94|
|        Jani|   92|Female|       93|
+------------+-----+------+---------+

In [ ]:
from pyspark.sql.functions import mean

In [ ]:
mean1 = df.select(mean(df['Score'])).collect()

In [ ]:
mean1[0][0]
# Display one row
# [0][0] we are getting actual index

89.33333333333333

In [ ]:
df.fillna(mean1[0][0]).show()

+------------+-----+------+---------+
|Student_Name|Score|Gender|New_Score|
+------------+-----+------+---------+
|      Luthfi|   90|  Male|       91|
|       Adnan|   85|  Male|       86|
|      Rahman|   65|Female|       66|
|         Tyo|   98|Female|       99|
|     Raditya|   89|Female|       89|
|      Naufal|   88|  Male|       89|
|      Abiyyu|   89|Female|       89|
|        Rafi|   96|  Male|       97|
|       Fikri|   97|  Male|       98|
|      Rafsan|   93|Female|       94|
|        Jani|   92|Female|       93|
+------------+-----+------+---------+